#compilation targets
/fitswebqlse
/testWavelets
/zfp_compress
/serialize
/test_zmq
/zfp_block
/zfp_encode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Microsoft Visual Code IDE
/.vscode/

#emacs
*~
/src/.emacs.desktop.lock
/src/.emacs.desktop

#sqlite db files
*.db

#Intel compiler optimizer reports
*.optrpt
