# Compilation targets
/fitswebqlse
/testWavelets
/zfp_compress
/serialize
/test_zmq
/zfp_block
/zfp_encode
/test_fixed_array
/*.dSYM
/tests/num_overflow
/tests/*.dSYM

# Memory Logging
/memory_usage.csv 
/mem_allocated_v5.pdf

# a symbolic link
htdocs/fitswebql_v5/**

# Config files
*.ini

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Microsoft Visual Code IDE
/.vscode/

#emacs
*~
/src/.emacs.desktop.lock
/src/.emacs.desktop

#sqlite db files
*.db

#Intel compiler optimizer reports
*.optrpt
