
.modal-content {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.list-group-item {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    color: inherit;
}
